body {
  /* background-color: #F8F8FA; */
  background-color: rgb(39, 41, 45);
  color: rgba(255, 255, 255, 0.9);

  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.main {
  margin: 0 auto;
  width: calc(60% - 2em);
  /* border: 1px solid blue; */
}

.rightPanel {
  color:rgba(255, 255, 255);

  margin: 0 1em 0 0;

  width: calc(20% - 1em);
  position: fixed;
  top: 8.3em;
  right: 0;
}

.translateCard {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 4px;
  box-shadow: 0 8px 14px 0 rgba(60,60,60,0.09);

  padding: 0.5em;

  margin-bottom: 0.5em;
}

.main > * {
  margin: auto 1em;
}

.title {
  margin-top: 1em;
  text-align: left;
  font-weight: 400;
}

.navbar {
  display: flex;
}

.navbar h4 {
  padding-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.navbar a {
  color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
}

a.active {
  color: rgba(255, 255, 255, 0.9);
}

.toolbar, .editor, .theoryEditor {
  background: rgb(255, 255, 255);
  border: 1px solid #EDEDED;
  border-radius: 4px;
  box-shadow: 0 8px 14px 0 rgba(60,60,60,0.09);

  padding-left: 1em;
  padding-right: 1em;
}

.toolbar, .theoryTitle {
  padding-top: 0.2em;  
  padding-bottom: 0.2em;  
  height: 1.5em;  
  margin-bottom: 0.2em;
}

.toolbar {
  display: flex;
  justify-content: left;
}

.theoryTitle {
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.toolbarButton {
  height: 1.5em;
  width: 2em;

  text-align: left;

  border: 0;
  margin: auto 0;
  background: transparent;

  padding: 1px 0.2em;
  color: darkgray;
}

.toolbarButtontrue {
  color: black;
}

.hoveringMenu {
  padding: 0.3em 0.1em;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
}

.hoverButton {
  border: 0;
  margin: 0;
  background: transparent;

  display: inline-block;

  color: darkgray;
  font-weight: bold;
}

.hoverButtontrue {
  color:white;
}

.editor, .theoryEditor {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 80vh;
  overflow-y: auto;
  color: rgb(26, 26, 26);
}

.editor p, .theoryEditor p, .translateCard p {
  margin-top: 0;
  margin-bottom: 0.2em;
}

.theoryEditor, .theory {
  background-color: #ffffb3;
}

.verb {
  color:black;
  font-style: italic;
}

.translate {
  border: 1px solid rgba(39, 41, 45, 0.5);
  border-radius: 4px;
}