body {
  /* background-color: #F8F8FA; */
  background-color: rgb(39, 41, 45);
  color: rgba(255, 255, 255, 0.9);

  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.App h2 {
  margin: 1em;
}

.allDocuments {
  margin: 0.5em;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.allDocuments > * {
  border: 1px solid red;
}

.allDocuments a {
  text-decoration: none;
}

.documentCard {
  width: calc(20% - 3em - 2px);
  margin: 0.5em;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;

  padding: 1em;
}

.documentCard h4 {
  font-weight: 400;
}

.newDocumentForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(39, 41, 45);
  border-radius: 4px;

  z-index: 1;

  padding: 0 1em;
}

.form {
  margin: 1em 0.5em;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1em;
}

.formLanguages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.submitButtons {
  margin: 0 auto;
  grid-column: 1/3;
}

.submitButtons > * {
  margin: 0 1em;
}

.transparentLayer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.main {
  margin: 0 auto;
  width: calc(60% - 2em);
  /* border: 1px solid blue; */
}

.rightPanel {
  color:rgba(255, 255, 255);

  margin: 0 1em 0 0;

  width: calc(20% - 1em);
  position: fixed;
  top: 8.3em;
  right: 0;
}

.leftPanel {
  color:rgba(255, 255, 255);

  margin: 0 1em 0 0;

  width: calc(20% - 1em);
  position: fixed;
  top: 1em;
  left: 0;

}

.leftPanel a {
  color: rgba(255, 255, 255);
  text-decoration: none;
}

.leftPanel p {
  margin: 0 1em;
}

.translateCard {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 4px;
  box-shadow: 0 8px 14px 0 rgba(60,60,60,0.09);

  padding: 0.5em;

  margin-bottom: 0.5em;
}

.main > * {
  margin: auto 1em;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.title > * {
  font-weight: 400;
  margin: 0;
}

.allDocumentsTitle {
  display: flex;
  justify-content: space-between;
  margin: 1em 1em 0 1em;
}

.allDocumentsTitle h2 {
  margin: 0;
}

.button {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  color: rgb(39, 41, 45);
  border-radius: 4px;
  padding: 0.3em 0.6em;
}

.navbar {
  display: flex;
}

.navbar h4 {
  padding-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.navbar a {
  color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
}

.secondaryNavbar h4 {
  margin: 0;
  padding-top: 0;
}

a.active {
  color: rgba(255, 255, 255, 0.9);
}

.toolbar, .editor, .theoryEditor {
  background: rgb(255, 255, 255);
  border: 1px solid #EDEDED;
  border-radius: 4px;
  box-shadow: 0 8px 14px 0 rgba(60,60,60,0.09);

  padding-left: 1em;
  padding-right: 1em;
}

.toolbar, .theoryTitle {
  padding-top: 0.2em;  
  padding-bottom: 0.2em;  
  height: 1.5em;  
  margin-bottom: 0.2em;
}

.toolbar {
  display: flex;
  justify-content: left;
}

.theoryTitle {
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.toolbarButton {
  height: 1.5em;
  width: 2em;

  text-align: left;

  border: 0;
  margin: auto 0;
  background: transparent;

  padding: 1px 0.2em;
  color: darkgray;
}

.toolbarButtontrue {
  color: black;
}

.hoveringMenu {
  padding: 0.3em 0.1em;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
}

.hoverButton {
  border: 0;
  margin: 0;
  background: transparent;

  display: inline-block;

  color: darkgray;
  font-weight: bold;
}

.hoverButtontrue {
  color:white;
}

.editor {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 80vh;
  overflow-y: auto;
  color: rgb(26, 26, 26);
}

.editor p, .translateCard p {
  margin-top: 0;
  margin-bottom: 0.2em;
}

.yellow, .theory {
  background-color: #ffffb3;
}

.verb {
  color:black;
  font-style: italic;
}

.translate {
  border: 1px solid rgba(39, 41, 45, 0.5);
  border-radius: 4px;
}

.verbToConjugate {
  display: flex;
  justify-content: center;
  text-align: center;
}

.verbToConjugate > * {
  border: 1px;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0 2em;
  color: rgb(39, 41, 45);
  background-color: #ffffb3;
}

.verbPracticeInput {
  display: block;
  line-height: 2.5em;

  border-radius: 4px;

  padding: 0 0.5em;
  margin: 2em auto;
  width: 30%;
}

.buttonCheckboxGroup {
  display: block;
  text-align: center;

  margin: 1em auto;
}

.verbPracticeButton {
  margin: 0 1em;
}

.verbConjugationAnswer {
  border: 1px;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

.correct {
  background-color: darkgreen;
}

.incorrect {
  background-color: darkred;
}

.loginTitle {
  padding: 2em 0 0.5em 0;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.firebaseui-idp-button {
  min-width: 16em;
  height: 5em;
  padding: 1em;
  display: flex;
  align-items: center;
}

.firebaseui-card-content img {
  height: 3em;
  padding-right: 1em;
}

